<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deep Fake Detector</title>
    <link rel="icon" type="image" href="./images/black_logo.png">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>
<body class="regBody">
    <section class="mx-auto regSection">
        <div class="row">
            <div class="col"><h3 class="successMsg thin-text"> <%= locals.confirmMsg %>  </h3></div>
        </div>
        <div class="container m-2">
                <div class="row">
                    <div class="col">
                        <h4 class="left-margin">Deep Fake Detector</h4>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <h1 class="left-margin successMsgColor">Password Updated!</h1>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4 mt-3 col-12">
                        <!--image goes here-->
                        <img src="./images/forgot-password.webp" alt="image by LinguaProf" width="250px">
                    </div>

                    <div class="col-lg-8">

                        <div class="row mt-5">
                            <div class="col-lg-10 col-10">
                                <h5 class="thin-text">Your password is successfully updated!</h5>
                            </div>
                        </div>
                        <!--form goes here-->
                        <form action="./login" method="GET">
                            <div class="row">
                                <div class="col-10 mt-3">
                                    <h5 class="thin-text">
                                        Click the following button to
                                        <button type="submit" class="btn btn-primary">Login</button> 
                                    </h5>                                    
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
        </div>
    </section>
</body>
</html>