<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deep Fake Detector</title>
    <link rel="icon" type="image" href="./images/black_logo.png">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script defer src="/js/reset.js"></script>
</head>
<body class="regBody">
    <section class="mx-auto regSection mb-2">
        <div class="container m-4">
                <div class="row">
                    <div class="col">
                        <h4>Deep Fake Detector</h4>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <h1>Reset Password </h1>
                        <div><h6 class="thin-text"><%= locals.email %></h6></div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4 mt-3 col-12">
                        <!--image goes here-->
                        <img src="./images/forgot-password.webp" alt="image by LinguaProf" width="250px">
                    </div>

                    <div class="col-lg-8">

                        <div class="row mt-5">
                            <div class="col-lg-10 col-10">
                                <h5 class="thin-text">Set your new password.</h5>
                            </div>
                        </div>
                        <form action="./reset-password" method="POST" id="form">
                            <div class="row mt-3" >
                                <div class="col-lg-8 col-10">
                                    <input type="password" class="form-control" placeholder="Enter your new Password" id="pass" name="pass">
                                    <div id="passError" class="form-text errorMsg"><span class=" text-danger"><%= locals.passErrorMsg %></span></div>
                                </div>
                            </div>

                            <div class="row mt-3" >
                                <div class="col-lg-8 col-10">
                                    <input type="password" class="form-control" placeholder="Confirm your Password" id="cpass" name="cpass">
                                    <div id="cpassError" class="form-text errorMsg"><span class=" text-danger"><%= locals.passErrorMsg %></span></div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="mt-2 col-lg-10 col-9">
                                    <label class="form-text">Use 8 or more characters with a mix of letters, numbers & symbols</label>
                                </div>
                            </div>

                            <div class="row mt-2 mb-2">
                                <div class="col">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="passCheck">
                                        <label class="form-check-label" for="passCheck">
                                          Show Password
                                        </label>
                                      </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6 col-6 mt-3">
                                    <button type="submit" id="reset-btn" class="btn btn-primary">Reset Password</button>                                    
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
        </div>
    </section>
</body>
</html>